<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Test</title>
    {% endblock %}
    <style>
        .user {
            padding: 10px;
            margin: 5px;
        }
        .nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px;
            display: block;
        }

        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 40px;
        }
    </style>
</head>
<body>
        <a href="/">Zpět</a>
{% block stranka %}
    <h1>List Of Presidenets</h1>
    {% for user in users %}
    <div class='user'>
        <h2>Jméno: {{ user[1] }}</h2>
        <p>Věk: {{ user[2] }}</p>
    </div>
    {% endfor %}
    <p>Home page</p>
</body>
</html>
{% endblock %}